
@using Blog.Models

@model Blog.Models.AddPostModel
@if (@HttpContext.Current.User.Identity.Name == "Admin")
{
<div class="wrap-comments">
    <h2>Добавление статьи</h2>
    <div class="add-comment">
        <form action="@Url.Action("AddPost", "Home")" method="post">
            <h1>Заголовок</h1>
            @Html.TextAreaFor(m => m.title, new { placeholder = "Заголовок...", @class = "txt-title" })
            <h1><p>Статья</p></h1>
            @Html.TextAreaFor(m => m.body, new { placeholder = "Тело статьи...", @class = "txt-body" })
            <div class="wrap-btn">
                <button class="btn-save">Добавить</button>
            </div>
        </form>
    </div>
</div>
}
else
{
    <meta http-equiv="refresh" content="1;URL=/Home/Enter" />
}