@model Blog.Models.Enter
<div class="wrap-comments">
    <h2>Вход</h2>
    <div class="add-comment">
        @if (@HttpContext.Current.User.Identity.Name != "Admin")
        {
            <form action="@Url.Action("Enter", "Home")" method="post">
                <h1>Имя Администратора</h1>
                @Html.TextAreaFor(m => m.Name, new { placeholder = "Имя...", @class = "txt-title" })
                <h1>Пароль</h1>
                @Html.TextAreaFor(m => m.Password, new { placeholder = "Пароль...", @class = "txt-title" })
                <div class="wrap-btn">
                    <button class="btn-save">Войти</button>
                </div>
            </form>
        }
        else
        {
            <h1>Вход выполнен!</h1>
        }
    </div>
</div>